.floating-compose-button {
  grid-row: 3 / span 1;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;

  transition: all 0.2s;

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__button &__button-icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__button-icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__button-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  &__button {
    background-color: var(--color-primary-1);
    height: 5rem;
    width: 5rem;
    position: absolute;
    bottom: 4.5rem;
    right: 4.5rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.1);
    cursor: pointer;

    z-index: 20;

    &-icon {
      position: relative;
      margin-top: 2.5rem;
      &,
      &::before,
      &::after {
        display: inline-block;
        width: 2.5rem;
        height: 2px;
        background-color: var(--color-white);
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
  &:hover &__button-icon::before {
    top: -1rem;
  }
  &:hover &__button-icon::after {
    top: 1rem;
  }
  &__background {
    height: 4rem;
    width: 4rem;
    // This mean circle
    border-radius: 50%;
    background-image: linear-gradient(
      260deg,
      var(--color-primary-1) 75%,
      var(--color-primary-2-1)
    );
    z-index: 10;
    transition: all 0.1s ease;

    position: absolute;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    flex-direction: row;
    padding: 1px 1rem;
    align-items: center;
    @include clearfix;
  }
  &__checkbox:checked
    ~ .floating-compose-button__background
    > *:not(.form__checkbox) {
    visibility: visible;
    opacity: 1;
  }
  &__checkbox:checked ~ &__background {
    height: 5rem;
    width: 275px;
    // width: 100%;
    // padding: 0 2rem;
    border-radius: 5rem;

    bottom: 4.5rem;
    right: 4.5rem;
  }
}
