.card {
  width: 90%;
  height: 90%;

  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);

  overflow: hidden;

  &-candidate {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;

    &__image-shape {
      height: 100%;
      width: 40%;
      position: relative;
    }
    &__image {
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-number {
        position: absolute;
        background-color: rgba($color-white, 0.75);
        width: 40%;
        padding: 1rem 0 1rem 0;

        bottom: 0%;
        right: 0%;
      }
    }
    &__description {
      font-family: 'Roboto', sans-serif;
      font-weight: var(--font-normal-roboto);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      padding: 1rem;

      &-header {
        &-name {
          // atleast 5 characters
          // maximum 15 characters
        }
        &-region {
          display: flex;
          flex-direction: row;
        }
      }
      &-details {
        // atleast 15 characters
        // maximum 45 characters
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        @media only screen and (max-height: 40.652em) {
          // 650px
          -webkit-line-clamp: 2;
        }
        @media only screen and (max-height: 37.5) {
          // 600px
          -webkit-line-clamp: 1;
        }
        @media only screen and (max-height: 33.375) {
          // 550px
          display: none;
        }
      }
      &-voters {
        align-self: end;
      }
    }
    &__border {
      &:hover {
        transform: scale(1.025);
        box-shadow: 0 0px 2rem rgba(var(--color-black), 0.2);
      }

      &:active,
      &:focus {
        /* transform: translateY(-1px); */
        outline: none;
        transform: scale(1.0025);
        box-shadow: 0 0px 1rem rgba(var(--color-black), 0.2);
      }
      &-vote {
        @include magic-border(1rem, var(--color-primary-1), 0.2s, 1);
      }
      &-favourite {
        @include magic-border(0.5rem, var(--color-primary-3), 0.2s, 1);
      }
    }
  }
}
