.table {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  .header {
    color: var(--color-white);
    background-color: var(--color-primary-1);
  }
  .row {
    background: #f6f6f6;
    &:nth-of-type(odd) {
      background: #e9e9e9;
    }
  }
  .cell {
    &--radius-top-left {
      border-top-left-radius: 1rem;
    }

    &--radius-bottom-left {
      border-bottom-left-radius: 1rem;
    }
    &--radius-top-right {
      border-top-right-radius: 1rem;
    }

    &--radius-bottom-right {
      border-bottom-right-radius: 1rem;
    }
  }
}
