@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint==broken {
    // after several expert experiment, em is better than rem for media query
    @media only screen and (max-width: 18.75em),
      screen and (max-height: 26.25em) {
      // 300px width
      // 420px height
      @content;
    }
  } @else if$breakpoint==phone-narrow-height {
    @media only screen and (max-width: 25.3125em) and (max-height: 50em) {
      // 405 width
      // 800px height
      @content;
    }
  } @else if$breakpoint==phone-narrow-width {
    @media only screen and (max-width: 68.75em) and (max-height: 29.6875em) {
      // 1100px width
      // 475px height
      @content;
    }
  } @else if$breakpoint==phone {
    @media only screen and (max-width: 40.625em) {
      // 650px
      @content;
    }
  } @else if $breakpoint==tab-port {
    @media only screen and (max-width: 50em) {
      // 800px
      @content;
    }
  } @else if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  } @else if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
