.mx {
  &-1r {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &-2r {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  &-4r {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  &-8r {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
