/* Universal Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-primary-3);
  color: var(--color-white-dark);
}

// Like html selector, but higher;
:root {
  //use custom css properties
  --color-primary-3: #d94945;
  --color-primary-3-2: #f17f71;
  --color-primary-2: #f1d4b4;
  --color-primary-2-1: #c0ae90;
  --color-primary-1: #42363a;
  --color-white-dark: #e0e0e0;
  --color-white-light: #ffffff;
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-dark-1: #333;

  --font-narrow-sora: 400;
  --font-normal-sora: 600;
  --font-bold-sora: 800;

  --font-narrow-roboto: 300;
  --font-normal-roboto: 500;
  --font-bold-roboto: 900;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);

  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%; // 10px

  transition: font-size 0.5s;
}

body {
  font-family: 'Sora', sans-serif;

  font-size: 1.6rem;
  font-weight: var(--font-normal-sora);
  margin: 0;

  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;

  box-sizing: border-box;
  background-color: var(--color-primary-3);

  @include respond(tab-land) {
    font-size: 1.6rem; // width < 800
  }
  @include respond(tab-port) {
    font-size: 1.4rem; // width < 800
  }
  @include respond(phone) {
    font-size: 1.2rem; // width < 650
  }
}

h1 {
  color: var(--color-primary-1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  margin-bottom: 0.75rem;
  background: rgba(66, 54, 58, 0.7);
  border: none;
  outline: none;
  padding: 0.75rem;
  color: var(--color-white-light);
  text-shadow: 1px 1px 1px rgba(66, 54, 58, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

textarea:focus,
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

textarea::placeholder,
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-white-dark);
  opacity: 1; /* Firefox */
}
