.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  //   This is used to make the block online in occupied sized
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-primary-2),
    var(--color-primary-1)
  );
  //   This is used to clip the background with the text only
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewX(4deg) skewY(-4deg) scale(1.1);
    //   text-shadow: x y blur color
    text-shadow: 0.5rem 1rem 2rem rgba(var(--color-black), 0.2);
  }
}

.heading-tertiary {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}
